<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.farouk.roomx">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="com.dev.farouk.roomx.app.VolleySingleton"
        android:allowBackup="true"
        android:configChanges="layoutDirection|locale"
        android:icon="@drawable/roomx"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name="com.dev.farouk.roomx.ui.main.LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dev.farouk.roomx.ui.main.SignUpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.dev.farouk.roomx.ui.main.IconTextTabsActivity" />
        <activity android:name="com.dev.farouk.roomx.ui.explore.PlaceDetailsActivity" />
        <activity android:name="com.dev.farouk.roomx.ui.account.ActivityEditProfile" />


        <meta-data
            android:name="DATABASE"
            android:value="sugar_db.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.farouk.roomx.model" />

        <activity android:name="com.dev.farouk.roomx.ui.account.ShowProfileActivity" />
        <activity android:name="com.tangxiaolv.telegramgallery.GalleryActivity" />
        <activity android:name="com.dev.farouk.roomx.ChatActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZCOnuaNiTobD1sk-S5ZmLBNGDQBVw7ZE" />

    </application>

</manifest>